@import url('fonts.css');
@import url('unset.css');
@import url('media-query.css');
@import url('sidebar.css');
@import url('main-toolbar.css');
@import url('main-bookmark.css');
@import url('theme--example.css');
@import url('auth');
@import url('landing-page.css');
/* @import url('state-change.css'); */

/*
    =========
    Variables
    =========
*/

:root {
	--ff-primary: 'Roboto', sans-serif;
	--fs-primary: 16px;

	/* --clr-dark: #1e1e1e;
	--clr-dark-accent: rgb(42, 38, 38);
	--clr-dark-light: #2f2e2e;
	--clr-light: rgb(224, 223, 223);
	--clr-light-dark: rgb(166 166 166); */

	--clr-dark: #1f0235;
	--clr-dark-accent: #3d0e61;
	--clr-dark-light: #260b3b;

	--clr-light: #ddd7f5;
	--clr-light-dark: #bdacd4;
}

/*
    ==========
    Typography
    ==========
*/

*,
body {
	font-family: var(--ff-primary);
	font-size: var(--fs-primary);
}

a {
	color: inherit;
	text-decoration: none;
}

/*
    =======
    General
    =======
*/

.grid {
	display: grid;
	grid-template-columns: 25em 1fr;
}
