/*
    ============
    Landing Page
    ============
*/

.landingPage-container {
	background: var(--clr-dark);
}

.landingPage {
	margin: auto;
	width: 80vw;
}

.landingPage-one,
.landingPage-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.landingPage-one {
	background-image: url('../public/landingpicture.svg');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	height: 80vh;
	flex-grow: 3;
}

.landingPage-info {
	width: 39rem;
}

.landingPage-one__h2 {
	font-size: 4.2rem;
	color: var(--clr-light);
}

.landingPage-one__h3 {
	margin-top: 0.5rem;
	font-size: 1.9rem;
	color: var(--clr-light-dark);
}

.landingPage-btn {
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 8px;
	font-weight: bold;
	border: 0;
	background-color: var(--clr-light);
	transition: all 0.5s ease;
}

.landingPage a {
	font-size: 1.3rem;
	color: var(--clr-dark-accent);
}

.landingPage-btn:hover {
	background-color: var(--clr-light-dark);
	color: var(--clr-dark-light);
}

.landingPage-two {
}
