/*
    ============
    Main Toolbar
    ============
*/

.main__top-bar {
	width: 90%;
	margin: auto;
	background-color: rgb(65, 150, 153);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.main__top-bar-icon {
	font-size: 1.5em;
}

.main__top-bar-name {
	font-size: 1.2em;
}

.main__top-bar-btn {
	background-color: rgb(168, 91, 91);
	padding: 0.3em 0.5em;
	border-radius: 3px;
}

.main__top-bar-advance-controls {
	/* background: gold; */
	position: relative;
}

.main__top-bar-advance-inner-controls {
}
